.footer 
{
    width: 100%;
    height: auto;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content 
{
    /* border: 1px solid white; */
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.footer-column 
{
    flex: 1;
    padding: 20px;
    text-align: center;
    position: relative; /* Thêm thuộc tính position để xử lý border-right */
}

/* .footer-column:not(:last-child) 
{
    border-right: 1px solid white;
} */

.footer-column h3 
{
    text-align: left;
    margin-bottom: 10px;
}

.footer-column p 
{
    margin: 0;
}

.contact-item
{
    padding-left: 15vh;
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon 
{
    margin-right: 10px;
}

a 
{
    text-decoration: none;
    color: inherit;
}

a:hover 
{
    text-decoration: underline;
}

