.footer 
{
    width: 100%;
    height: auto;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-content 
{
    width: 85%;
    display: flex;
    /* justify-content: space-between; */
}

.footer-column.contact 
{
    flex: 0 0 30%; /* Đặt chiều rộng cho cột 1 */
    padding: 20px;
    text-align: center;
    position: relative; /* Thêm thuộc tính position để xử lý border-right */
}

.footer-column 
{
    flex: 0 0 70%; /* Đặt chiều rộng cho cột 2 */
    padding: 20px;
    text-align: center;
    position: relative; /* Thêm thuộc tính position để xử lý border-right */
}

.footer-column::after 
{
    content: '';
    position: absolute;
    top: 10%;
    right: 0;
    height: 90%; /* Đường kẻ dài 85% */
    width: 1px; /* Độ rộng của đường kẻ */
    background-color: white;
    /* transform: translateY(-50%); */
}

.footer-column:last-child::after 
{
    display: none; /* Ẩn đường kẻ cuối cùng */
}

.footer-column h3 
{
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

.footer-column p 
{
    margin: 0;
}

.footer-bottom 
{
    width: 85%;
    padding-top: 10px;
    /* padding-bottom: 0px; */
    text-align: center;
    border-top: 2px solid #ffffff; /* Đường kẻ trên hàng mới */
}

.contact-item 
{
    padding-left: 15vh;
    display: flex;
    align-items: center;
    font-size: 17px;
    gap: 5px;
}

.footer-icon 
{
    margin-right: 10px;
    font-size: 20px;
}

a 
{
    text-decoration: none;
    color: inherit;
}

a:hover 
{
    text-decoration: underline;
}
