.home 
{
    /* border: 1px solid black; */
    display: flex;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}
  
.homeandaside
{
    width: 70%;
    margin-right: 10px;
    /* border: 1px solid black; */
}

.side-content 
{
    border: 0px;
    margin-left: 0px;
    width: 30%;
    height: 100%;
    background-color: rgb(237, 237, 237);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    /* border: 1px solid black; */
}


.news-list
{
    /* border: 1px solid black; */
    list-style-type: none;
    padding: 0;
    margin-bottom: 0px;
}

.gap-between-item
{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gap-between-item:not(:last-child)
{
    margin-bottom: 15px;
}

.gap-between-item:hover
{
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.news-title 
{
    font-size: 1.5em;
    margin-bottom: 10px;
}

.news-title:hover
{
    text-decoration: underline 1.5px;
}

.news-link 
{
    display: block;
    margin-bottom: 10px;
}

.news-image 
{
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.news-description 
{
    font-size: 1em;
    margin-bottom: 10px;
}

/* .Normal 
{
    font-size: 0.9em;
    color: #555;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
} */
