.home 
{
    display: flex;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.homeandaside 
{
    width: 70%;
    margin-right: 10px;
}

.side-content 
{
    width: 30%;
    height: 100%;
    background-color: rgb(237, 237, 237);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
}

.news-page 
{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.news-list 
{
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

.gap-between-item 
{
    display: flex; /* Sử dụng Flexbox để căn chỉnh ảnh bên trái và nội dung bên phải */
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gap-between-item:not(:last-child) 
{
    margin-bottom: 15px;
}

.gap-between-item:hover 
{
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.news-image 
{
    max-width: 100%; /* Đặt kích thước cố định cho ảnh */
    height: auto;
    border-radius: 4px;
    margin-right: 20px; /* Khoảng cách giữa ảnh và nội dung */
}

.news-title 
{
    /* border: 1px solid black; */
    font-size: 1.8em;
    margin-bottom: 10px;
}

.news-title:hover 
{
    text-decoration: underline;
}

.news-description 
{
    margin-left: 20px;
    font-size: 1.05em;
    margin-bottom: 10px;
}

.search-results-sentence 
{
    height: auto;
    padding: 10px;
    align-items: center;
    margin-bottom: 10px;
}
