.home 
{
    width: 100%;
    margin: 0 auto;
}
  
.article-container 
{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
.article 
{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #f9f9f9;
}
  
.load-more 
{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    margin-bottom: 0px;
    background-color: #007bff;
    font-size: large;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer; /*chuyen thanh hinh ban tay*/
    text-align: center;
}
  
.load-more:hover 
{
    background-color: #0056b3;
}
  