.navbar-nav .nav-link,
.navbar-brand
{
  color: black;
  font-size: 3vh;
}

.logo
{
  font-size: 10vh;
  text-align: center;
  background: linear-gradient(90deg, #575757, #1c1c1c, rgb(98, 98, 98), rgb(32, 32, 32));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gray 
{
  background-color: rgb(227, 227, 227);
}

.iconSearch
{
  font-size: larger;
  padding: 0px auto;
}

/* CSS cho navbar cố định */
/* .fixed-navbar 
{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; Đảm bảo navbar luôn ở trên cùng
} */

/* css cho trang chu */
/* body
{
  background-color: none;
  padding-top: 1vh;
} */

/* the aside */
/* aside
{
  margin-left: 65%;
  text-align: center;
  width: 35%;
  height: 100%;
  border: 1px solid black;
}

.parent-container 
{
  background-color: white;
  border: 1px solid black;
  width: 90%;
  margin: auto;
  padding: 20px;
}

.banner-image 
{
  width: 100%;
  height: 20vh;
  object-fit: cover;
}

.tabs-container 
{
  padding-top: 10px;
} */

/* css cho trang tittle */
/* .tittle 
{
  font-size: 20vh;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  background: linear-gradient(90deg, #00c3ff, #ff00dd);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
} */

/* css cho trang login */
/* .login-container {
  position: relative;
  margin: auto;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}

.close-button-container {
  position: absolute;
  top: 10px;
  right: 10px;
} */

/* css cho trang home */
/* .cards
{
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  border-radius: 10px;
  gap: 20px; 
}
.item 
{
  padding: 20px;
} */