body
{
  font-family: 'Times New Roman', Times, serif;
  background-color: none;
}

.parent-container 
{
  width: 100%;
  margin: 0 auto;
  height: auto;
}

.content-container 
{
  display: flex;
  background-color: white;
  border: 1px solid black;
  border-top: 0;
  border-bottom: 0;
  width: 83%;
  padding: 10px;
  margin: 20px auto;
  margin-top: 0;
  margin-bottom: 0;
}

.main-content 
{
  /* border: 1px solid black; */
  width: 100%;
}

.testing
{
  width: 100%;
  border: 1px solid black;
}
