.parentElement
{
    border-top: 5px solid red;
    border-bottom: 5px solid red;
    margin: auto;
    width: 85%;
    height: 100vw;
}

.childrenElement
{
    width: 100%;
    text-align: center;
    border-top: 5px solid black;    
    border-bottom: 5px solid black;    
}